@mixin gridCol($value) {
  .allMovies{
    .allMoviesGrid{
      grid-template-columns: repeat($value,minmax(0,1fr));
    }
  }
}
.allMovies{
  padding: 10px;
  .title{
    margin-bottom: 10px;
    h1{
      font-weight: 600;
      font-size: 25px;
    }
  }
  .allMoviesGrid{
    grid-column-gap: 5px;
    display: grid;
  }
  .allMoviespagenation{
    margin: 10px auto;
    nav{
      *{
        outline: 0;
      }
      ul{
        justify-content: center;
        li{
          button.Mui-selected{
            background-color: #ff0e94;
          }
        }
      }
    }
  }
}
@media (min-width : 320px){
  @include gridCol(3)
}
@media (min-width : 440px){
  @include gridCol(4)
}
@media (min-width : 576px){
  @include gridCol(6)
}
@media (min-width : 768px){
  @include gridCol(8)
}
@media (min-width : 1024px){
  @include gridCol(10)
}
@media (min-width : 1366px){
  @include gridCol(12)
}