@use '../../styles/root.scss';
.allMovies {
  padding: 10px;
  .title {
    margin-bottom: 10px;
    h1 {
      @include root.gradientText;
    }
  }
  .allMoviespagenation {
    margin: 10px auto;
    nav {
      * {
        outline: 0;
      }
      ul {
        justify-content: center;
      }
    }
  }
}
