@use '../../styles/root.scss';
.movieToWatchGroup {
  padding: 10px;
  .movieToWatchGroupWrap {
    display: flex;
    align-items: center;
    h1 {
      @include root.gradientText;
    }
  }
}
@media (min-width: 320px) and (max-width: 768.98px) {
  .movieToWatchGroup {
    .movieToWatchGroupWrap {
      flex-direction: column;
    }
  }
}
