.navbar {
  font-family: sans-serif;
  padding: 10px;
  z-index: 5;
  background: rgb(25, 118, 210);
  background: linear-gradient(
    90deg,
    rgba(25, 118, 210, 1) 23%,
    rgba(33, 150, 243, 1) 68%
  );
  .customBrand {
    letter-spacing: 2px;
    background: -webkit-linear-gradient(126deg, #2199ff, #76ff6e 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    font-size: 25px;
  }
  .toggle {
    padding: 0;
    border: none;
    display: none;
    margin-left: auto;
    .closeIcon {
      color: white;
    }
    .hamburgerIcon {
      color: white;
    }
  }
  .dropDown {
    margin-right: 10px;
    a {
      color: white !important;
      text-decoration: none;
    }
    div {
      background-color: #2196f3;
    }
  }
  .navItem {
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    cursor: pointer;
    width: 100%;
    a {
      display: block;
      width: 100%;
    }
    &:hover {
      background-color: #1e88e5;
      color: rgb(255, 255, 255);
    }
  }
}
@media (min-width: 320px) and (max-width: 767.98px) {
  .navbar {
    .toggle {
      display: block;
    }
    .customBrand {
      font-size: 20px;
    }
  }
}
