.navbar {
  font-family: sans-serif;
  padding: 10px;
  z-index: 2;
  background-color: #01579b !important;
  .toggle {
    padding: 0;
    border: none;
    display: none;
    .closeIcon {
      color: white;
    }
    .hamburgerIcon {
      color: white;
    }
  }
  .dropDown {
    margin-right: 10px;
    a {
      color: white !important;
      text-decoration: none;
    }
    div {
      background-color: #2196f3;
      a:hover {
        background-color: #1e88e5;
      }
    }
  }
}
@media (min-width: 320px) and (max-width: 767.98px) {
  .navbar {
    padding-top: 2px;
    padding-bottom: 6px;
    .toggle {
      display: block;
    }
  }
}
