@use '../../styles/root.scss';
.popularGroup {
  padding: 10px;
  .popularWrap {
    display: flex;
    align-items: center;
    h1 {
      @include root.gradientText;
    }
  }
}
@media (min-width: 320px) and (max-width: 768.98px) {
  .popularGroup {
    .popularWrap {
      flex-direction: column;
    }
  }
}
