@use '../../styles/root.scss';
.tvToWatchGroup {
  padding: 10px;
  .tvToWatchGroupWrap {
    display: flex;
    align-items: center;
    h1 {
      @include root.gradientText;
    }
  }
}
@media (min-width: 320px) and (max-width: 768.98px) {
  .tvToWatchGroup {
    .tvToWatchGroupWrap {
      flex-direction: column;
    }
  }
}
