.jumbotron {
  background: radial-gradient(
    circle,
    rgba(56, 136, 162, 1) 6%,
    rgba(57, 116, 181, 1) 47%,
    rgba(58, 149, 238, 1) 90%
  );
  display: flex;
  align-items: center;
  text-align: center;
  height: 500px;
  position: relative;
  margin: 0;
  .welcome {
    color: white;
    font-weight: 700;
    font-size: unquote('min(max(2rem, 5vw), 40px)');
  }
  .desc {
    color: white;
    font-size: unquote('min(max(1.4rem, 1vw), 25px)');
    font-weight: 600;
  }
  .banner_search {
    justify-content: center;
    width: 100%;
    .banner_form {
      background-color: white;
      border-radius: 35px;
      display: flex;
      input {
        padding: 10px;
        flex: 1;
        font-size: 16px;
        font-weight: 500;
        outline: 0;
        border: none;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
      }
      button {
        outline: 0;
        border: none;
        padding: 10px;
        border-radius: 35px;
        width: 140px;
        background-color: #37474f;
        font-weight: 600;
        color: white;
        font-size: 18px;
        box-shadow: 0px 7px 12px -3px rgba(0, 0, 0, 0.46);
        &:hover {
          color: #40c4ff;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 576.98px) {
  .jumbotron {
    .banner_search {
      .banner_form {
        button {
          width: 80px;
          font-size: 14px;
        }
      }
    }
  }
}
@media (min-width: 320px) and (max-width: 768.98px) {
  .jumbotron {
    .banner_search {
      width: 100%;
    }
  }
}
